In [4]:
###############################
#Step 1: Read in turnstile data

import pandas as pd

df = pd.read_csv('turnstile.csv')
mydict={}

df.columns = df.columns.str.strip()

df.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/10/2017,00:00:00,REGULAR,6215258,2104297
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/10/2017,04:00:00,REGULAR,6215284,2104303
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/10/2017,08:00:00,REGULAR,6215318,2104337
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/10/2017,12:00:00,REGULAR,6215475,2104417
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/10/2017,16:00:00,REGULAR,6215841,2104465

In [9]:
################################
#Step 2: Create a dictionary mapping (C/A,UNIT,Station,Date) to all other info
mydict = {}

for i in range(len(df.index)):
    mytuple = (df['C/A'][i], df.UNIT[i], df.STATION[i], df.DATE[i])
    
    if mytuple not in mydict.keys():
        mydict[mytuple] = [[df.SCP[i],df.LINENAME[i],df.DIVISION[i], df.TIME[i],df.DESC[i],df.ENTRIES[i],df.EXITS[i]]]
    else:
        mydict[mytuple].append([df.SCP[i],df.LINENAME[i],df.DIVISION[i] ,df.TIME[i],df.DESC[i],df.ENTRIES[i], df.EXITS[i]])

mydict[('A002', 'R051', '59 ST', '06/10/2017')][0:5]

[['02-00-00', 'NQR456W', 'BMT', '00:00:00', 'REGULAR', 6215258, 2104297],
 ['02-00-00', 'NQR456W', 'BMT', '04:00:00', 'REGULAR', 6215284, 2104303],
 ['02-00-00', 'NQR456W', 'BMT', '08:00:00', 'REGULAR', 6215318, 2104337],
 ['02-00-00', 'NQR456W', 'BMT', '12:00:00', 'REGULAR', 6215475, 2104417],
 ['02-00-00', 'NQR456W', 'BMT', '16:00:00', 'REGULAR', 6215841, 2104465]]

In [11]:
################################
#Step 3: Create a dictionary mapping (C/A,UNIT,Station,Date) 
#to an inner dictionary of (turnstile number, hourly rider entries or exits) key-value pairs

ent_or_exit = 6 # Choose 5 for entry, 6 for exit
dictwithin={}
newdict={}

for key in mydict.keys():
    dictwithin={}
    for i in range(len(mydict[key])):
        if mydict[key][i][0] not in dictwithin:
            dictwithin[mydict[key][i][0]]=[mydict[key][i][ent_or_exit]]
        else:
            dictwithin[mydict[key][i][0]].append(mydict[key][i][ent_or_exit])
    newdict[key] = dictwithin

newdict[('A002', 'R051', '59 ST', '06/10/2017')]

{'02-00-00': [2104297, 2104303, 2104337, 2104417, 2104465, 2104499],
 '02-00-01': [1247142, 1247146, 1247157, 1247209, 1247252, 1247285],
 '02-03-00': [3434712, 3434730, 3434800, 3435115, 3435421, 3435696],
 '02-03-01': [509875, 509906, 509982, 510268, 510601, 510948],
 '02-03-02': [7436819, 7436839, 7436914, 7437130, 7437365, 7437582],
 '02-03-03': [5950628, 5950642, 5950709, 5950885, 5951013, 5951128],
 '02-03-04': [3377741, 3377746, 3377792, 3377866, 3377911, 3377956],
 '02-03-05': [1315954, 1315958, 1315967, 1315993, 1316002, 1316018],
 '02-03-06': [482949, 482949, 482951, 482954, 482956, 482958],
 '02-05-00': [0, 0, 0, 0, 0, 0],
 '02-05-01': [738, 738, 738, 738, 738, 738],
 '02-06-00': [150963, 150967, 150968, 150972, 150975, 150981]}

In [12]:
################################
#Step 4: Create a dictionary mapping (C/A,UNIT,Station,Date) to total daily ridership of all turnstiles in
#that C/A,UNIT,Station location

totaldict={}

for key,val in newdict.items():
    count = 0
    for innerkey, innerval in val.items():
        for i in range(1,len(innerval)):
            count = count + innerval[i] - innerval[i-1]
    totaldict[key] = count

totaldict[('A002', 'R051', '59 ST', '06/10/2017')]

3971

In [21]:
################################
#Step 5: Create a dictionary mapping (C/A,UNIT,Station,Date) to the total ridership between two time values.
#Note that times [00:00:00, 04:00:00, 08:00:00, 12:00:00, 16:00:00, 20:00:00] correspond to indices [0,1,2,3,4,5]

timedict={}
time = 3 #(for between 8 and 12 pm)
#time = 5 #(for between 4 pm to 8 pm )
for key,val in newdict.items():
    count = 0
    for innerkey, innerval in val.items():
        try:
            count = count + innerval[time] - innerval[time-1]
        except:
            break
        timedict[key] = count

timedict[('A002', 'R051', '59 ST', '06/10/2017')]

1232

In [31]:
################################
#Step 6: Create a dictionary mapping (THE ENTIRE STATION, date) to total ridership

#if you want to do total DAILY ridership, use the totaldict dictionary
#if you want to do total HOURLY ridership between two times, use timedict

use_dict=timedict #or totaldict

station_date={}
for key, val in use_dict.items():
    if (key[2],key[3]) not in station_date:
        station_date[(key[2],key[3])] = use_dict[key]
    else:
        station_date[(key[2],key[3])] += use_dict[key]

print(station_date[('34 ST-HERALD SQ', '06/10/2017')])

15420

In [19]:
################################
#Step 7: Create a dictionary that maps each station to a list of tuples containing (date, total ridership)

all_station_dates = {}

for key,val in station_date.items():
    if key[0] not in all_station_dates:
        all_station_dates[key[0]]=[(key[1], station_date[key])]
    else:
        all_station_dates[key[0]].append((key[1], station_date[key]))
        
print(all_station_dates[('34 ST-HERALD SQ')])

[('06/10/2017', 15420), ('06/11/2017', 2038823441), ('06/12/2017', 37677), ('06/13/2017', 40329), ('06/14/2017', 35259), ('06/15/2017', 33189), ('06/16/2017', 37654)]

In [20]:
################################
#Step 8: Create a list of sorted tuples in decending order of (ridership, stationname)

#if saturday use 0, sunday use 1, monday use 2, etc.
weekday = 0

stationcount=[]
stationdate=[]

total_ridership_counts=[]

for station in all_station_dates.keys():
    if len(all_station_dates[station])==7: #a few stations have less than a full week of data
        if station != 'LACKAWANNA': #LACKAWANNA doesn't have standardized times
            total_ridership_counts.append((all_station_dates[station][weekday][1], station))
            
total_ridership_counts.sort(reverse=True)

for info in total_ridership_counts:
    print(info)
    
fout = open('output.csv', 'w')
for info in total_ridership_counts:
    fout.write(str(info[0])+'  '+str(info[1])+'\n')
fout.close()

(20016, '34 ST-PENN STA')
(16173, '14 ST-UNION SQ')
(15420, '34 ST-HERALD SQ')
(12191, 'CANAL ST')
(11545, 'TIMES SQ-42 ST')
(11238, '42 ST-PORT AUTH')
(10467, '23 ST')
(9441, '125 ST')
(9071, 'GRD CNTRL-42 ST')
(8488, '86 ST')
(8064, '59 ST COLUMBUS')
(7655, 'W 4 ST-WASH SQ')
(7648, '72 ST')
(6794, '59 ST')
(6559, 'FLUSHING-MAIN')
(6552, '96 ST')
(6167, 'PATH NEW WTC')
(6025, '14 ST')
(5819, 'CHAMBERS ST')
(5807, "B'WAY-LAFAYETTE")
(5803, '8 AV')
(5672, '28 ST')
(5473, 'BEDFORD AV')
(5140, 'FULTON ST')
(5076, 'ATL AV-BARCLAY')
(4972, 'THIRTY THIRD ST')
(4816, 'SOUTH FERRY')
(4532, '77 ST')
(4506, 'WHITEHALL S-FRY')
(4295, 'GRAND ST')
(4249, '7 AV')
(4165, '47-50 STS ROCK')
(4132, '116 ST')
(3976, 'JKSN HT-ROOSVLT')
(3972, '50 ST')
(3862, '42 ST-BRYANT PK')
(3408, 'DELANCEY/ESSEX')
(3169, '81 ST-MUSEUM')
(3143, 'LEXINGTON AV/53')
(3141, '145 ST')
(3033, '1 AV')
(2992, 'JAMAICA CENTER')
(2988, 'PRINCE ST')
(2962, '5 AV/59 ST')
(2900, '66 ST-LINCOLN')
(2872, '103 ST')
(2845, 'WALL ST')
(2799, 'BROOKLYN BRIDGE')
(2792, 'JAY ST-METROTEC')
(2741, '86 ST-2 AVE')
(2732, '61 ST WOODSIDE')
(2672, 'ASTOR PL')
(2642, '49 ST')
(2620, 'CHURCH AV')
(2619, '33 ST')
(2566, '72 ST-2 AVE')
(2552, 'CORTLANDT ST')
(2520, 'BOROUGH HALL')
(2452, '2 AV')
(2445, 'JOURNAL SQUARE')
(2393, '82 ST-JACKSON H')
(2388, 'BAY PKWY')
(2374, '181 ST')
(2348, 'SUTPHIN-ARCHER')
(2333, 'BERGEN ST')
(2285, 'LEXINGTON AV/63')
(2279, '5 AV/53 ST')
(2264, 'YORK ST')
(2243, 'GROVE STREET')
(2239, 'SPRING ST')
(2146, 'NOSTRAND AV')
(2134, '68ST-HUNTER CO')
(2096, '57 ST')
(2087, '51 ST')
(2048, 'PAVONIA/NEWPORT')
(2035, 'FOREST HILLS 71')
(2014, 'CROWN HTS-UTICA')
(1997, 'CONEY IS-STILLW')
(1907, 'COURT SQ')
(1866, 'CHRISTOPHER ST')
(1833, 'CITY / BUS')
(1829, '34 ST-HUDSON YD')
(1777, '8 ST-NYU')
(1775, '14TH STREET')
(1745, 'KINGS HWY')
(1723, '36 ST')
(1722, 'NEWARK HM HE')
(1720, 'CATHEDRAL PKWY')
(1714, 'JUNCTION BLVD')
(1691, '57 ST-7 AV')
(1668, '79 ST')
(1661, 'WOODHAVEN BLVD')
(1613, 'WORLD TRADE CTR')
(1598, '3 AV-149 ST')
(1577, 'TWENTY THIRD ST')
(1519, '168 ST')
(1509, '96 ST-2 AVE')
(1508, 'MARCY AV')
(1503, '5 AVE')
(1496, 'EAST BROADWAY')
(1496, '103 ST-CORONA')
(1445, 'DEKALB AV')
(1422, 'UTICA AV')
(1407, 'VERNON-JACKSON')
(1402, 'PARKCHESTER')
(1358, 'HARRISON')
(1351, '110 ST')
(1350, 'KINGSBRIDGE RD')
(1345, 'METROPOLITAN AV')
(1325, 'GUN HILL RD')
(1314, 'HOYT-SCHER')
(1313, 'HOYT ST')
(1271, '9TH STREET')
(1264, '167 ST')
(1244, 'BRIGHTON BEACH')
(1237, 'MYRTLE-WYCKOFF')
(1221, '170 ST')
(1190, 'FRANKLIN AV')
(1182, '149/GRAND CONC')
(1172, 'SHEEPSHEAD BAY')
(1168, 'PROSPECT PARK')
(1145, '161/YANKEE STAD')
(1139, '33 ST-RAWSON ST')
(1131, 'STEINWAY ST')
(1125, 'QUEENS PLAZA')
(1089, 'RECTOR ST')
(1085, 'METS-WILLETS PT')
(1075, 'CENTRAL PK N110')
(1040, '137 ST CITY COL')
(1037, 'NEVINS ST')
(1030, 'FORDHAM RD')
(1021, 'ASTORIA DITMARS')
(985, '90 ST-ELMHURST')
(979, '4AV-9 ST')
(971, '191 ST')
(969, 'BROADWAY JCT')
(949, 'BEDFORD PK BLVD')
(947, 'BEDFORD-NOSTRAN')
(943, '3 AV')
(938, '111 ST')
(931, 'HOUSTON ST')
(917, 'EXCHANGE PLACE')
(906, 'JAMAICA 179 ST')
(897, '30 AV')
(895, 'EASTN PKWY-MUSM')
(879, 'SMITH-9 ST')
(878, 'HUNTS POINT AV')
(877, 'FT HAMILTON PKY')
(875, '116 ST-COLUMBIA')
(873, 'BROADWAY')
(856, '21 ST-QNSBRIDGE')
(855, '135 ST')
(854, 'BOWERY')
(849, 'MYRTLE AV')
(846, 'NEWKIRK PLAZA')
(833, '157 ST')
(828, 'PELHAM BAY PARK')
(825, 'E 180 ST')
(797, '40 ST LOWERY ST')
(784, 'GRAND-NEWTOWN')
(783, 'FLATBUSH AV-B.C')
(756, 'GRAHAM AV')
(752, '74 ST-BROADWAY')
(747, '46 ST BLISS ST')
(739, 'BLEECKER ST')
(731, 'WESTCHESTER SQ')
(720, 'BROOK AV')
(691, 'PELHAM PKWY')
(683, 'CASTLE HILL AV')
(675, 'ELDER AV')
(674, 'AVENUE U')
(656, '4 AV-9 ST')
(642, 'CARROLL ST')
(640, '169 ST')
(637, 'CLARK ST')
(635, 'PARK PLACE')
(630, '175 ST')
(629, 'TREMONT AV')
(620, 'WAKEFIELD/241')
(599, 'ASTORIA BLVD')
(597, '15 ST-PROSPECT')
(594, 'PARSONS BLVD')
(591, 'BURNSIDE AV')
(590, '46 ST')
(589, 'WEST FARMS SQ')
(586, 'HOWARD BCH JFK')
(582, 'HALSEY ST')
(578, 'W 8 ST-AQUARIUM')
(575, '18 ST')
(574, 'AQUEDUCT N.COND')
(570, 'THIRTY ST')
(570, 'ROOSEVELT ISLND')
(562, 'BROAD ST')
(556, '45 ST')
(549, 'NEW LOTS')
(549, 'CLINTON-WASH AV')
(548, '36 AV')
(537, 'CITY HALL')
(535, 'INWOOD-207 ST')
(529, 'CRESCENT ST')
(529, '3 AV 138 ST')
(521, 'MORISN AV/SNDVW')
(507, 'DYCKMAN ST')
(505, 'FAR ROCKAWAY')
(504, 'NORWOOD 205 ST')
(503, '69 ST')
(502, 'UNION ST')
(502, 'PARKSIDE AV')
(497, 'OZONE PK LEFFRT')
(493, 'MONTROSE AV')
(491, 'KINGSTON-THROOP')
(478, 'MORGAN AV')
(475, 'E 149 ST')
(466, 'LORIMER ST')
(456, 'BOTANIC GARDEN')
(448, 'QUEENSBORO PLZ')
(442, '6 AV')
(435, 'EUCLID AV')
(428, '207 ST')
(427, 'MT EDEN AV')
(425, '18 AV')
(417, 'CANARSIE-ROCKAW')
(415, '138/GRAND CONC')
(414, 'NEWARK HW BMEBE')
(413, 'V.CORTLANDT PK')
(409, '9 AV')
(408, 'NEWKIRK AV')
(406, 'GRAND ARMY PLAZ')
(399, 'JAMAICA VAN WK')
(394, 'LAFAYETTE AV')
(393, 'GRANT AV')
(387, '52 ST')
(386, 'SUTTER AV')
(383, 'NORTHERN BLVD')
(377, 'PRESIDENT ST')
(375, 'FLUSHING AV')
(370, 'BEACH 67 ST')
(359, 'KNICKERBOCKER')
(357, '176 ST')
(355, 'ST LAWRENCE AV')
(346, 'CLEVELAND ST')
(345, 'HARLEM 148 ST')
(344, '190 ST')
(343, 'KINGSTON AV')
(342, 'NEW UTRECHT AV')
(339, 'ALLERTON AV')
(333, 'FRESH POND RD')
(332, '183 ST')
(329, 'LONGWOOD AV')
(321, 'MOSHOLU PKWY')
(320, '63 DR-REGO PARK')
(319, '155 ST')
(318, 'FRANKLIN ST')
(317, 'EASTCHSTER/DYRE')
(314, '25 ST')
(311, 'CYPRESS AV')
(308, 'NORWOOD AV')
(303, 'VAN SICLEN AV')
(302, 'BEACH 90 ST')
(302, 'BAY RIDGE-95 ST')
(297, 'CLASSON AV')
(296, 'OCEAN PKWY')
(296, '75 ST-ELDERTS')
(295, 'BUHRE AV')
(292, 'ALABAMA AV')
(278, 'INTERVALE AV')
(276, 'LIVONIA AV')
(273, 'RALPH AV')
(268, 'WILSON AV')
(265, 'EAST 105 ST')
(264, 'HUNTERS PT AV')
(257, 'STERLING ST')
(257, 'COURT SQ-23 ST')
(253, 'ROCKAWAY AV')
(251, 'VAN SICLEN AVE')
(244, 'KOSCIUSZKO ST')
(243, 'BEACH 98 ST')
(239, 'SIMPSON ST')
(239, 'CORTELYOU RD')
(236, 'ROCKAWAY PARK B')
(235, 'BEVERLEY ROAD')
(231, 'WOODLAWN')
(227, 'SUTPHIN BLVD')
(218, 'GATES AV')
(215, 'AVENUE J')
(210, 'ROCKAWAY BLVD')
(207, 'JEFFERSON ST')
(207, 'AVENUE M')
(206, '67 AV')
(204, '225 ST')
(203, 'ZEREGA AV')
(198, '65 ST')
(197, '39 AV')
(197, '219 ST')
(196, 'MIDDLETOWN RD')
(193, '233 ST')
(192, 'FREEMAN ST')
(185, 'WHITLOCK AV')
(184, 'LIBERTY AV')
(183, '174 ST')
(175, 'PROSPECT AV')
(174, 'WINTHROP ST')
(174, '20 AV')
(172, '174-175 STS')
(167, 'FOREST AVE')
(165, 'CENTRAL AV')
(164, 'AVENUE H')
(162, 'SENECA AVE')
(162, 'NEREID AV')
(156, '215 ST')
(154, 'BEACH 25 ST')
(152, '231 ST')
(149, 'BEACH 60 ST')
(149, '182-183 STS')
(147, 'SHEPHERD AV')
(147, 'BRONX PARK EAST')
(141, 'DITMAS AV')
(140, 'AVENUE X')
(137, 'BURKE AV')
(134, 'BRIARWOOD')
(130, '71 ST')
(129, 'CHAUNCEY ST')
(129, '85 ST-FOREST PK')
(125, 'BUSHWICK AV')
(122, 'AVENUE P')
(117, 'AVENUE I')
(115, "E 143/ST MARY'S")
(112, 'BEVERLY RD')
(111, 'MORRIS PARK')
(111, '80 ST')
(104, 'JACKSON AV')
(103, 'BEACH 105 ST')
(101, 'AVENUE N')
(99, 'ELMHURST AV')
(98, 'BEACH 36 ST')
(96, 'NEWARK BM BW')
(84, 'ATLANTIC AV')
(83, 'MARBLE HILL-225')
(80, 'HEWES ST')
(76, '55 ST')
(71, 'BEACH 44 ST')
(69, 'CYPRESS HILLS')
(68, '88 ST')
(62, '104 ST')
(60, 'NEPTUNE AV')
(53, 'AQUEDUCT RACETR')
(49, 'NECK RD')
(45, '163 ST-AMSTERDM')
(44, 'BAYCHESTER AV')
(40, '121 ST')
(20, 'BROAD CHANNEL')
(20, '238 ST')
(19, 'NEWARK C')
(13, 'RIT-MANHATTAN')
(13, 'BOWLING GREEN')
(11, 'MYRTLE-WILLOUGH')
(9, 'SARATOGA AV')
(5, 'RIT-ROOSEVELT')
(4, 'GREENPOINT AV')
(2, 'NASSAU AV')
(2, 'BAY 50 ST')
(1, 'PENNSYLVANIA AV')
(0, 'TOMPKINSVILLE')
(0, 'ST. GEORGE')
(0, 'ORCHARD BEACH')
(0, 'NEW LOTS AV')
(0, '25 AV')
(0, '21 ST')
(-1, 'HIGH ST')
(-26, '75 AV')

In [23]:
###############
#Step 10: Calculate the maximum difference between Monday and Sat morning commutes in order to find
#business hubs instead of touristy hubs

monday={}
for line in open('monday_morning_exits.csv'):
    words=line.split('  ')
    monday[words[1].strip()]=words[0]

saturday={}
for line in open('saturday_morning_exits.csv'):
    words=line.split('  ')
    saturday[words[1].strip()]=words[0]
    
diff = []
for key,val in monday.items():
    try:
        diff.append((int(val) - int(saturday[key]), key))
    except:
        pass
    
diff.sort(reverse = True)

for station in diff:
    print(station)
    
fout = open('output2.csv', 'w')
for info in diff:
    fout.write(str(info[0])+'  '+str(info[1])+'\n')
fout.close()

(31473, '47-50 STS ROCK')
(26357, 'GRD CNTRL-42 ST')
(22257, '34 ST-HERALD SQ')
(21610, 'LEXINGTON AV/53')
(21455, 'TIMES SQ-42 ST')
(17642, '23 ST')
(16562, '42 ST-BRYANT PK')
(16330, 'WALL ST')
(15682, 'FULTON ST')
(12926, 'CHAMBERS ST')
(12748, '59 ST')
(11190, '50 ST')
(10732, 'BOWLING GREEN')
(9344, '51 ST')
(9046, 'CANAL ST')
(8966, '28 ST')
(8427, '34 ST-PENN STA')
(7861, '14 ST-UNION SQ')
(7694, '86 ST')
(7418, '14 ST')
(5840, '49 ST')
(5427, '5 AVE')
(4910, 'LEXINGTON AV/63')
(4888, '168 ST')
(4875, '59 ST COLUMBUS')
(4630, 'BROOKLYN BRIDGE')
(4301, '7 AV')
(3599, '33 ST')
(3390, '5 AV/53 ST')
(3254, 'GRAND ST')
(3133, 'COURT SQ')
(3057, '33 ST-RAWSON ST')
(3003, 'JAY ST-METROTEC')
(2999, "B'WAY-LAFAYETTE")
(2901, '72 ST-2 AVE')
(2897, '57 ST-7 AV')
(2711, 'RECTOR ST')
(2493, 'HOUSTON ST')
(2476, '34 ST-HUDSON YD')
(2461, 'JAMAICA CENTER')
(2417, 'SPRING ST')
(2381, 'ATL AV-BARCLAY')
(2341, '77 ST')
(2287, '1 AV')
(2223, '57 ST')
(2222, 'CONEY IS-STILLW')
(2145, 'HIGH ST')
(2114, '125 ST')
(2048, 'BOROUGH HALL')
(1998, 'WORLD TRADE CTR')
(1973, '66 ST-LINCOLN')
(1876, '96 ST')
(1866, 'KINGS HWY')
(1860, 'PATH NEW WTC')
(1661, 'THIRTY ST')
(1628, 'CORTLANDT ST')
(1531, 'NEVINS ST')
(1454, 'PRINCE ST')
(1376, 'HOYT-SCHER')
(1372, 'W 4 ST-WASH SQ')
(1369, 'DEKALB AV')
(1360, '18 ST')
(1337, 'GREENPOINT AV')
(1232, '145 ST')
(1230, 'EXCHANGE PLACE')
(1230, '116 ST-COLUMBIA')
(1200, 'QUEENS PLAZA')
(1190, '3 AV')
(1180, 'CITY HALL')
(1127, '8 ST-NYU')
(1121, '161/YANKEE STAD')
(1099, 'ASTOR PL')
(1090, 'WOODHAVEN BLVD')
(982, 'HOYT ST')
(978, 'ROCKAWAY AV')
(953, 'FLATBUSH AV-B.C')
(951, 'BRIGHTON BEACH')
(937, 'SUTPHIN-ARCHER')
(866, 'FLUSHING AV')
(839, 'BLEECKER ST')
(829, '36 ST')
(826, '103 ST')
(811, '82 ST-JACKSON H')
(807, 'BROADWAY')
(793, 'QUEENSBORO PLZ')
(775, 'SOUTH FERRY')
(766, 'NEW LOTS AV')
(689, 'WESTCHESTER SQ')
(684, '137 ST CITY COL')
(674, '181 ST')
(670, 'CHURCH AV')
(664, 'SARATOGA AV')
(657, 'FRANKLIN ST')
(652, 'NASSAU AV')
(652, 'AVENUE M')
(596, '40 ST LOWERY ST')
(586, '2 AV')
(565, 'SMITH-9 ST')
(562, 'COURT SQ-23 ST')
(562, '18 AV')
(534, '21 ST-QNSBRIDGE')
(524, 'NEWARK HM HE')
(520, 'SHEEPSHEAD BAY')
(503, '8 AV')
(483, 'VERNON-JACKSON')
(474, 'PARSONS BLVD')
(470, '25 ST')
(469, '39 AV')
(464, '174 ST')
(459, 'STEINWAY ST')
(459, '36 AV')
(439, 'FLUSHING-MAIN')
(438, '96 ST-2 AVE')
(431, '67 AV')
(428, 'CLINTON-WASH AV')
(428, 'CENTRAL PK N110')
(427, 'CARROLL ST')
(422, 'HUNTERS PT AV')
(417, '79 ST')
(412, 'CLASSON AV')
(411, '4AV-9 ST')
(403, '191 ST')
(400, 'BROAD ST')
(399, '46 ST BLISS ST')
(397, 'AVENUE J')
(393, '6 AV')
(390, 'JKSN HT-ROOSVLT')
(388, '21 ST')
(382, '167 ST')
(378, 'PENNSYLVANIA AV')
(361, '170 ST')
(359, 'PRESIDENT ST')
(358, '169 ST')
(354, '46 ST')
(345, '3 AV-149 ST')
(343, '135 ST')
(338, 'HUNTS POINT AV')
(331, 'KINGSTON AV')
(327, 'VAN SICLEN AV')
(323, 'MARCY AV')
(314, 'FREEMAN ST')
(312, 'NORTHERN BLVD')
(307, 'GRAND-NEWTOWN')
(302, 'GRAHAM AV')
(301, 'PARKCHESTER')
(294, '110 ST')
(286, 'KINGSTON-THROOP')
(286, '52 ST')
(280, 'MT EDEN AV')
(271, 'PELHAM PKWY')
(270, 'NEWKIRK PLAZA')
(261, 'FAR ROCKAWAY')
(258, '55 ST')
(257, 'JAMAICA VAN WK')
(256, 'FT HAMILTON PKY')
(252, '30 AV')
(251, '9 AV')
(248, 'NEW UTRECHT AV')
(248, 'MORGAN AV')
(243, 'BEDFORD PK BLVD')
(239, 'AVENUE H')
(237, '3 AV 138 ST')
(235, 'INTERVALE AV')
(231, 'FORDHAM RD')
(228, '176 ST')
(227, 'ROOSEVELT ISLND')
(225, 'W 8 ST-AQUARIUM')
(224, '155 ST')
(222, 'BROADWAY JCT')
(220, '175 ST')
(218, 'NEWARK HW BMEBE')
(215, 'AVENUE U')
(214, 'SUTPHIN BLVD')
(214, 'MYRTLE-WILLOUGH')
(205, 'KINGSBRIDGE RD')
(205, '4 AV-9 ST')
(203, '72 ST')
(201, 'BURNSIDE AV')
(186, 'BAY 50 ST')
(186, 'AVENUE P')
(185, '45 ST')
(179, 'HARLEM 148 ST')
(176, '174-175 STS')
(171, '25 AV')
(164, 'HOWARD BCH JFK')
(164, 'E 180 ST')
(161, 'MOSHOLU PKWY')
(159, 'JOURNAL SQUARE')
(159, 'DITMAS AV')
(158, 'BEACH 90 ST')
(156, 'NEWKIRK AV')
(152, 'AVENUE N')
(148, 'OZONE PK LEFFRT')
(147, 'PROSPECT AV')
(146, 'AVENUE X')
(146, '69 ST')
(140, 'MYRTLE-WYCKOFF')
(139, 'TREMONT AV')
(137, 'BAY RIDGE-95 ST')
(136, '138/GRAND CONC')
(127, 'KNICKERBOCKER')
(126, 'EASTCHSTER/DYRE')
(126, 'CYPRESS AV')
(126, 'CASTLE HILL AV')
(125, 'CENTRAL AV')
(122, 'EUCLID AV')
(120, 'ALABAMA AV')
(119, 'FRESH POND RD')
(118, 'LONGWOOD AV')
(117, 'EAST 105 ST')
(116, 'MONTROSE AV')
(113, 'OCEAN PKWY')
(112, 'BROOK AV')
(112, 'AVENUE I')
(110, '183 ST')
(107, 'CANARSIE-ROCKAW')
(105, 'RALPH AV')
(105, 'HEWES ST')
(104, 'BEACH 25 ST')
(101, 'ATLANTIC AV')
(99, 'STERLING ST')
(99, 'JAMAICA 179 ST')
(99, '75 AV')
(99, '157 ST')
(97, 'WILSON AV')
(96, 'GRAND ARMY PLAZ')
(96, 'ELDER AV')
(93, 'FOREST AVE')
(92, 'WHITLOCK AV')
(91, 'NORWOOD AV')
(90, 'E 149 ST')
(89, 'HALSEY ST')
(88, 'MORRIS PARK')
(87, 'JEFFERSON ST')
(85, '182-183 STS')
(83, 'MARBLE HILL-225')
(83, '163 ST-AMSTERDM')
(78, 'WEST FARMS SQ')
(77, 'WINTHROP ST')
(77, 'MORISN AV/SNDVW')
(76, 'SENECA AVE')
(69, 'SIMPSON ST')
(69, 'CATHEDRAL PKWY')
(67, '20 AV')
(66, '80 ST')
(65, 'V.CORTLANDT PK')
(64, 'BOWERY')
(63, 'GATES AV')
(63, '75 ST-ELDERTS')
(63, '65 ST')
(62, 'GRANT AV')
(61, '207 ST')
(59, 'BEACH 60 ST')
(58, 'LIVONIA AV')
(58, '71 ST')
(56, '225 ST')
(55, 'ST LAWRENCE AV')
(55, 'NECK RD')
(50, "E 143/ST MARY'S")
(49, 'CORTELYOU RD')
(48, 'DYCKMAN ST')
(45, 'LIBERTY AV')
(42, 'ROCKAWAY PARK B')
(41, 'BEACH 36 ST')
(40, 'MIDDLETOWN RD')
(40, 'CYPRESS HILLS')
(40, 'BOTANIC GARDEN')
(40, '85 ST-FOREST PK')
(39, 'ASTORIA DITMARS')
(36, 'EAST BROADWAY')
(35, 'NEW LOTS')
(35, 'BAYCHESTER AV')
(34, 'VAN SICLEN AVE')
(32, '233 ST')
(31, 'SUTTER AV')
(29, 'NEPTUNE AV')
(29, 'CHAUNCEY ST')
(29, '231 ST')
(28, 'LORIMER ST')
(26, 'BUHRE AV')
(21, '104 ST')
(20, 'PELHAM BAY PARK')
(20, 'CLARK ST')
(20, 'BEACH 44 ST')
(19, 'NEWARK C')
(18, '215 ST')
(16, 'BEACH 105 ST')
(15, 'SHEPHERD AV')
(15, 'NEREID AV')
(15, 'BEVERLEY ROAD')
(15, '86 ST-2 AVE')
(12, 'WOODLAWN')
(11, '103 ST-CORONA')
(10, 'BURKE AV')
(9, 'WAKEFIELD/241')
(7, 'ROCKAWAY BLVD')
(6, 'RIT-ROOSEVELT')
(3, '88 ST')
(1, 'JACKSON AV')
(1, 'BROAD CHANNEL')
(0, 'TOMPKINSVILLE')
(0, 'ST. GEORGE')
(0, 'ORCHARD BEACH')
(-1, 'RIT-MANHATTAN')
(-2, '238 ST')
(-3, 'CLEVELAND ST')
(-3, '219 ST')
(-4, '121 ST')
(-7, 'BUSHWICK AV')
(-9, 'NEWARK BM BW')
(-10, 'BRONX PARK EAST')
(-16, 'KOSCIUSZKO ST')
(-16, 'BEVERLY RD')
(-19, 'AQUEDUCT RACETR')
(-20, 'CHRISTOPHER ST')
(-24, 'PROSPECT PARK')
(-26, 'GUN HILL RD')
(-29, 'PARK PLACE')
(-29, 'BEACH 67 ST')
(-32, 'JUNCTION BLVD')
(-37, 'PARKSIDE AV')
(-37, '111 ST')
(-39, 'CRESCENT ST')
(-43, 'ELMHURST AV')
(-45, '190 ST')
(-47, 'NORWOOD 205 ST')
(-47, 'ALLERTON AV')
(-51, 'WHITEHALL S-FRY')
(-60, 'UTICA AV')
(-60, 'DELANCEY/ESSEX')
(-68, 'LAFAYETTE AV')
(-70, '74 ST-BROADWAY')
(-72, 'PAVONIA/NEWPORT')
(-100, 'ZEREGA AV')
(-119, 'BRIARWOOD')
(-153, '15 ST-PROSPECT')
(-166, '63 DR-REGO PARK')
(-169, 'UNION ST')
(-176, 'INWOOD-207 ST')
(-189, 'FRANKLIN AV')
(-192, 'BEACH 98 ST')
(-254, '68ST-HUNTER CO')
(-271, 'HARRISON')
(-297, 'AQUEDUCT N.COND')
(-307, 'EASTN PKWY-MUSM')
(-317, 'NOSTRAND AV')
(-329, '14TH STREET')
(-360, 'CROWN HTS-UTICA')
(-366, '5 AV/59 ST')
(-371, 'TWENTY THIRD ST')
(-375, 'MYRTLE AV')
(-388, 'METROPOLITAN AV')
(-433, 'CITY / BUS')
(-442, 'METS-WILLETS PT')
(-462, 'BEDFORD-NOSTRAN')
(-510, 'YORK ST')
(-510, 'GROVE STREET')
(-542, '9TH STREET')
(-565, 'ASTORIA BLVD')
(-616, 'BERGEN ST')
(-647, '61 ST WOODSIDE')
(-733, '42 ST-PORT AUTH')
(-865, '149/GRAND CONC')
(-893, 'FOREST HILLS 71')
(-925, '90 ST-ELMHURST')
(-1161, 'BEDFORD AV')
(-1183, 'BAY PKWY')
(-1263, '81 ST-MUSEUM')
(-1644, '116 ST')
(-1837, 'THIRTY THIRD ST')

In [27]:
##################
#Step 11: Create a list of the top 27 tech firms and the top 10 volume subway differences

addresses = []

count = 0
for line in open('output2.csv'):
    if count < 10:
        words=line.split('  ')
        addresses.append(words[1].strip()+' subway station ny')
    count +=1

#Remove FULTON & CHAMBERS since there isn't tech nearby and replace with ASTOR PLACE AND 18 ST

addresses.remove('WALL ST subway station ny')
addresses.remove('CHAMBERS ST subway station ny')

addresses.append('ASTOR ST subway station ny')
addresses.append('18 ST subway station ny')

tech = ['AMAZON NYC', 'AOL NYC', 'APPLE NYC', 'APPNEXUS NYC', 'BLOOMBERG NYC', 'BLUE APRON NYC', 'BUZZFEED NYC', 'ETRADE NYC', 'ETSY NYC', 'FACEBOOK NYC', 'FRESH DIRECT NYC', 'GOOGLE NYC', 'INFORMATION BUILDERS NYC', 'LINKEDIN NYC', 'MEDIARADAR NYC', 'MICROSOFT NYC', 'OSCAR NYC', 'SALESFORCE NYC', 'SHUTTERSTOCK NYC', 'SPOTIFY NYC', 'TUMBLR NYC', 'TWITTER NYC', 'VICE MEDIA NYC', 'WEWORK NYC', 'YELP NYC', 'YEXT NYC', 'ZOCDOC NYC']

addresses = addresses + tech
addresses

['47-50 STS ROCK subway station ny',
 'GRD CNTRL-42 ST subway station ny',
 '34 ST-HERALD SQ subway station ny',
 'LEXINGTON AV/53 subway station ny',
 'TIMES SQ-42 ST subway station ny',
 '23 ST subway station ny',
 '42 ST-BRYANT PK subway station ny',
 'FULTON ST subway station ny',
 'ASTOR ST subway station ny',
 '18 ST subway station ny',
 'AMAZON NYC',
 'AOL NYC',
 'APPLE NYC',
 'APPNEXUS NYC',
 'BLOOMBERG NYC',
 'BLUE APRON NYC',
 'BUZZFEED NYC',
 'ETRADE NYC',
 'ETSY NYC',
 'FACEBOOK NYC',
 'FRESH DIRECT NYC',
 'GOOGLE NYC',
 'INFORMATION BUILDERS NYC',
 'LINKEDIN NYC',
 'MEDIARADAR NYC',
 'MICROSOFT NYC',
 'OSCAR NYC',
 'SALESFORCE NYC',
 'SHUTTERSTOCK NYC',
 'SPOTIFY NYC',
 'TUMBLR NYC',
 'TWITTER NYC',
 'VICE MEDIA NYC',
 'WEWORK NYC',
 'YELP NYC',
 'YEXT NYC',
 'ZOCDOC NYC']

In [28]:
##################
#Step 12: Get lat/long coordinates using Google API. 
#Store these values in the where.js file. 
# Open the where.html file in your browser to view the map

import urllib.request, urllib.parse, urllib.error
import json
    
serviceurl = 'http://maps.googleapis.com/maps/api/geocode/json?'
    
mystring = 'myData = [\n'

for address in addresses:
    url = serviceurl + urllib.parse.urlencode({'address': address})
    uh = urllib.request.urlopen(url)
    data = uh.read().decode()
    js = json.loads(data)
    try:
        if 'NY' not in js['results'][0]['formatted_address']:
            print('BAD!!!!!!!!', address)
            continue
    except:
        print(print('BAD!!!!!!!!', address))
        
    try:
        lat = js["results"][0]["geometry"]["location"]["lat"]
        lng = js["results"][0]["geometry"]["location"]["lng"]
        
        mystring = mystring + '['+str(js["results"][0]["geometry"]["location"]["lat"])+',' \
        +str(js["results"][0]["geometry"]["location"]["lng"])+', '+"'"+address+"'"+"],"
        print(address)
    except:
        print(print('BAD!!!!!!!!', address))
    
mystring = mystring[0:-1]
mystring = mystring + "];"                                                                                      

with open('where.js', 'w') as outfile:
     outfile.write(mystring)                                                                                          
outfile.close()

47-50 STS ROCK subway station ny
GRD CNTRL-42 ST subway station ny
34 ST-HERALD SQ subway station ny
LEXINGTON AV/53 subway station ny
TIMES SQ-42 ST subway station ny
23 ST subway station ny
42 ST-BRYANT PK subway station ny
FULTON ST subway station ny
ASTOR ST subway station ny
18 ST subway station ny
AMAZON NYC
AOL NYC
APPLE NYC
APPNEXUS NYC
BLOOMBERG NYC
BLUE APRON NYC
BUZZFEED NYC
ETRADE NYC
ETSY NYC
FACEBOOK NYC
FRESH DIRECT NYC
GOOGLE NYC
INFORMATION BUILDERS NYC
LINKEDIN NYC
MEDIARADAR NYC
MICROSOFT NYC
OSCAR NYC
SALESFORCE NYC
SHUTTERSTOCK NYC
SPOTIFY NYC
TUMBLR NYC
TWITTER NYC
VICE MEDIA NYC
WEWORK NYC
YELP NYC
YEXT NYC
ZOCDOC NYC
myData = [
[40.7578276,-73.98179069999999, '47-50 STS ROCK subway station ny'],[40.7527262,-73.9772294, 'GRD CNTRL-42 ST subway station ny'],[40.750082,-73.98813129999999, '34 ST-HERALD SQ subway station ny'],[40.7571494,-73.9721498, 'LEXINGTON AV/53 subway station ny'],[40.7556158,-73.9863347, 'TIMES SQ-42 ST subway station ny'],[40.7415465,-73.98899779999999, '23 ST subway station ny'],[40.75504189999999,-73.98419799999999, '42 ST-BRYANT PK subway station ny'],[40.709373,-74.0083258, 'FULTON ST subway station ny'],[40.7300946,-73.9908418, 'ASTOR ST subway station ny'],[40.74104,-73.997871, '18 ST subway station ny'],[40.7491533,-73.9851642, 'AMAZON NYC'],[40.7306008,-73.99152169999999, 'AOL NYC'],[40.7635569,-73.972309, 'APPLE NYC'],[40.74189680000001,-73.9909143, 'APPNEXUS NYC'],[40.7617491,-73.96800449999999, 'BLOOMBERG NYC'],[40.742038,-73.99144439999999, 'BLUE APRON NYC'],[40.737025,-73.9877829, 'BUZZFEED NYC'],[40.7513394,-73.97521379999999, 'ETRADE NYC'],[40.7005908,-73.9882454, 'ETSY NYC'],[40.7305961,-73.99152509999999, 'FACEBOOK NYC'],[40.7392432,-73.94687619999999, 'FRESH DIRECT NYC'],[40.741357,-74.0032672, 'GOOGLE NYC'],[40.7502557,-73.99199639999999, 'INFORMATION BUILDERS NYC'],[40.7482929,-73.9855625, 'LINKEDIN NYC'],[40.7535628,-73.9914967, 'MEDIARADAR NYC'],[40.7566806,-73.98964889999999, 'MICROSOFT NYC'],[40.724554,-73.9953845, 'OSCAR NYC'],[40.7517134,-73.9732568, 'SALESFORCE NYC'],[40.70529,-74.012076, 'SHUTTERSTOCK NYC'],[40.73962849999999,-73.99407200000002, 'SPOTIFY NYC'],[40.73959869999999,-73.9883646, 'TUMBLR NYC'],[40.7415264,-73.99988549999999, 'TWITTER NYC'],[40.7146628,-73.9658753, 'VICE MEDIA NYC'],[40.7529505,-73.9842537, 'WEWORK NYC'],[40.7516176,-73.9858811, 'YELP NYC'],[40.7411082,-73.98743879999999, 'YEXT NYC'],[40.7242802,-73.9973541, 'ZOCDOC NYC']];